{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_unused_import,
    warn_untyped_record
]}.

{src_dirs, ["erl_src"]}.

{deps, []}.

{plugins, []}.

{pre_hooks, [
    {compile, "make compile"}
]}.

{post_hooks, [
    {clean, "make clean"}
]}.

{port_specs, [
    {"priv/bobsled.so", [
        "c_src/*.c"
    ]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            {parse_transform, lager_transform}
        ]},
        {ct_opts, [
            {sys_config, "test/test.config"},
            {logdir, "logs"},
            {verbosity, 50}
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {cover_export_enabled, true}
    ]},
    {perf, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [
            debug_info,
            {d, 'PERF_TEST'}
        ]},
        {ct_opts, [
            {suite, "test/bobsled_perf_SUITE"},
            {logdir, "logs/perf"},
            {verbosity, 30}
        ]}
    ]},
    {integration, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [
            debug_info,
            {d, 'INTEGRATION_TEST'}
        ]},
        {ct_opts, [
            {suite, "test/bobsled_integration_SUITE"},
            {logdir, "logs/integration"},
            {verbosity, 40}
        ]}
    ]},
    {crash, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [
            debug_info,
            {d, 'CRASH_TEST'}
        ]},
        {ct_opts, [
            {suite, "test/bobsled_crash_SUITE"},
            {logdir, "logs/crash"},
            {verbosity, 40}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}
]}.